button {
    text-transform: uppercase;
    padding: .70rem 1.5rem;
    background: transparent;
    color: #fafafa;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    flex: 1;
}

button#clear-btn {
    background: #fafafa;
    color: #1d1d1d;
    border-radius: 12px;
}

button:hover {
    opacity: 1;
}